extends layout
block content
  br
  .container
    img(src='http://i.imgur.com/MOWEwaV.jpg', alt='Error 404', style="width:50%,")
    p
      |WOOPS! Looks like something went wrong. We're sending out team of highly trained monkeys to try and fix the problem now.
      |How about you just go back to the beginning and pretend this never happened?
    a.btn.btn-lg.btn-primary(href='/', role='button') Go back
