extends layout
block content
  br
  br
  br
  .container.marketing
    .row.featurette
      .col
        h2.featurette-heading Who are we?
        br
        p.lead
          |The Animate story began back in 2017 when founders,
          |Jessica, Claire and Glenn knew they could create something unique.
          |They decided to give the a small part of the dating world something
          |it really needed; an agency capable of creating a way to match lonely, anime-loving
          |, awkward strangers with similar anime interests with each other.
        br
        p.lead
          |At Animate, we all share the same vision; everyone deserves to find
          |love no matter how weird or niche their hobbies may be.
          |Whether your mum is making you throw away all your waifu pillows or
          | you're falling into pit of despair from so little human interaction,
          |we're here for you.

    hr.featurette-divider
    .row.featurette
      .col-md-7.push-md-5
        h2.featurette-heading
          | Jessica Dang -
          span.text-muted  Front-End Designer/Developer
        br
        p.lead
          | I like junk food and sleeping. This project probably took 10 years
          | off my life.
      .col-md-5.pull-md-7
        img.featurette-image.img-fluid.mx-auto(src='http://www.nextadvisor.com/blog/wp-content/uploads/2011/05/online-dating-pickup-lines.jpg', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Glenn Ang -
          span.text-muted  Back-End Developer
        br
        p.lead
          | Loud. Obnoxious. Crazy. But one hell of a hard worker when the time
          |comes.
      .col-md-5
        img.featurette-image.img-fluid.mx-auto(src='http://www.nextadvisor.com/blog/wp-content/uploads/2011/05/online-dating-pickup-lines.jpg', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7.push-md-5
        h2.featurette-heading
          | Claire Abbott -
          span.text-muted  Mascot Character
        br
        p.lead
          | I'm joking. If there was a written component Claire would've smashed
          |it.
      .col-md-5.pull-md-7
        img.featurette-image.img-fluid.mx-auto(src='http://www.nextadvisor.com/blog/wp-content/uploads/2011/05/online-dating-pickup-lines.jpg', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Rest of team
          span.text-muted
        br
        p.lead
          | Google, Stackoverflow, random students in class.
        p
          a.btn.btn-lg.btn-primary(href='/resources', role='button') Resources
        p
          a.btn.btn-lg.btn-primary(href='/strategies', role='button') Strategies

    // /END THE FEATURETTES
