extends layout
block content
  br
  br
  br
  .container.marketing
    .row.featurette
      .col
        h2.featurette-heading Who are we?
        br
        p.lead
          |The Animate story began back in 2017 when founders,
          |Jessica, Claire and Glenn knew they could create something unique.
          |They decided to give the a small part of the dating world something
          |it really needed; an agency capable of creating a way to match lonely, anime-loving
          |, awkward strangers with similar anime interests with each other.
        br
        p.lead
          |At Animate, we all share the same vision; everyone deserves to find
          |love no matter how weird or niche their hobbies may be.
          |Whether your mum is making you throw away all your waifu pillows or
          | you're falling into pit of despair from so little human interaction,
          |we're here for you.

    hr.featurette-divider
    .row.featurette
      .col-md-7.push-md-5
        h2.featurette-heading
          | Jessica Dang -
          span.text-muted  Front-End Designer/Developer
        br
        p.lead
          | "This project probably took 10 years off my life." - Jessica Dang
        br
        p.lead
          | Constantly trying to find her will to liv- passion for web development.
          | She believes bootstrap needs to be it's own religion.
      .col-md-5.pull-md-7
        img.featurette-image.img-fluid.mx-auto(src='https://scontent.fper2-1.fna.fbcdn.net/v/t1.0-9/10268478_10153323613346282_7103976935323997361_n.jpg?oh=bf162a206533f4b34f00a99d60cfb851&oe=59B6DA99', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Glenn Ang -
          span.text-muted  Back-End Developer
        br
        p.lead
          |"It's only fun in the back-end." - Glenn Ang
        p.lead
          | Loud. Obnoxious. Crazy. But one hell of a hard worker when the time
          |comes. He also likes to verbally and mentally abuse anyone within a
          | 3 meter radius in the name of "trolling".
        br
      .col-md-5
        img.featurette-image.img-fluid.mx-auto(src='https://scontent.fper2-1.fna.fbcdn.net/v/t1.0-9/15965554_10154374353779952_1893860311317561795_n.jpg?oh=87fece177cda433f8c419da6d924f302&oe=597436FF', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7.push-md-5
        h2.featurette-heading
          | Claire Abbott -
          span.text-muted  Intern
        br
        p.lead
          | 6 months unpaid. No benefits or sick leave. Minimum 20 hours a week.
      .col-md-5.pull-md-7
        img.featurette-image.img-fluid.mx-auto(src='https://scontent.fper2-1.fna.fbcdn.net/v/t1.0-9/17155733_1784171591608994_8503738801483506730_n.jpg?oh=9d57a8d4cc8f54c9d3d093dbdcb5f608&oe=59B2A42F', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Rest of team
          span.text-muted
        br
        p.lead
          | Google, Stackoverflow, random students in class.
        p
          a.btn.btn-lg.btn-primary(href='/resources', role='button') Resources
        p
          a.btn.btn-lg.btn-primary(href='/strategies', role='button') Strategies

    // /END THE FEATURETTES
