<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title> Personal details </title>
</head>
<body>
<h1> About you </h1>
<!-- find a way to pull a databse --->
<form action="/Details" method="POST">
  <input type="text" placeholder="sex" name="sex">
  <input type="text" placeholder="age" name="age">
  <input type="text" placeholder="int1" name="int1e">
  <input type="text" placeholder="int2" name="int2">
  <input type="text" placeholder="int3" name="int3">
  <button type="submit">Submit</button>
</body>
</html>
