// START THE FEATURETTES
hr.featurette-divider
.row.featurette
  .col-md-7
    h2.featurette-heading What is AniMate?.
    p.lead
      | AniMate believes that compatibility is key when finding
      | a partner or friend. If you're tired of going onto endless dates only
      | to return home to your body pillow every night then we're the site
      | for you. Say good-bye to judgemental girls or shallow guys. At AniMate
      | anyone and everyone is equal. Finally connect with people who share
      | your weird niche views and hobbies!
  .col-md-5
    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
hr.featurette-divider
.row.featurette
  .col-md-7.push-md-5
    h2.featurette-heading
      | How does it work?
      span.text-muted See for yourself.
    p.lead
      | Through the use of our special matching algorithm users
      | can find fellow members with the same anime interests. You can
      | simply browse through pre-exsting members using our search function
      | but the ability to contact or having a viewable/matchable profile
      | is only available through registration.
  .col-md-5.pull-md-7
    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
hr.featurette-divider
.row.featurette
  .col-md-7
    h2.featurette-heading
      | And lastly, this one.
      span.text-muted Checkmate.
    p.lead
      | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  .col-md-5
    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
hr.featurette-divider
// /END THE FEATURETTES
