.footer
footer
  br
  br
  hr

  p.float-right
    a(href='#') Back to top
  script.
    document.write("Last updated on " + document.lastModified);
  p
    | © 2017 Company, Inc. ·
    a(href='#') Privacy
    |  ·
    a(href='#') Terms
