extends layout

append content
//
  Marketing messaging and featurettes
// Wrap the rest of the page in another container to center all the content.
.container.marketing
// Three columns of text below the carousel
.row
  .col-lg-4
    img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
    h2 Girl 1
    p
      | 23 year old. Female. Anime dating is great. 10/10 would recommend.
      | Didn't actually find a partner, I'm just being paid to endorse this
      | useless site
    p
      a.btn.btn-secondary(href='#', role='button') View details »
  // /.col-lg-4
  .col-lg-4
    img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
    h2 Guy 1
    p
      | 19 year old. Male. A+ site Blah blah it's awesome I really like anime. Dating yeaaaaaaah.
    p
      a.btn.btn-secondary(href='#', role='button') View details »
  // /.col-lg-4
  .col-lg-4
    img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
    h2 Girl 3
    p
      | 27 year old. Female. Anime is love. Anime is life. I'm actually
      | an old man pretending to be a woman to lure young unsuspecting boys into
      | my sex dungeon. Huehuehue.
    p
      a.btn.btn-secondary(href='#', role='button') View details »
  // /.col-lg-4
// /.row
//
  Marketing messaging and featurettes
// Wrap the rest of the page in another container to center all the content.
.container.marketing
  // Three columns of text below the carousel
  .row
    .col-lg-4
      img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
      h2 Girl 1
      p
        | 23 year old. Female. Anime dating is great. 10/10 would recommend.
        | Didn't actually find a partner, I'm just being paid to endorse this
        | useless site
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    // /.col-lg-4
    .col-lg-4
      img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
      h2 Guy 1
      p
        | 19 year old. Male. A+ site Blah blah it's awesome I really like anime. Dating yeaaaaaaah.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    // /.col-lg-4
    .col-lg-4
      img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
      h2 Girl 3
      p
        | 27 year old. Female. Anime is love. Anime is life. I'm actually
        | an old man pretending to be a woman to lure young unsuspecting boys into
        | my sex dungeon. Huehuehue.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    // /.col-lg-4
  // /.row

  // FOOTER
  footer
    p.float-right
      a(href='#') Back to top
    p
      | © 2017 Company, Inc. ·
      a(href='#') Privacy
      |  ·
      a(href='#') Terms
// /.container
