extends layout
block content
  .carousel-inner(role='listbox')
    .carousel-item.active
      img.first-slide(src='https://www.walldevil.com/wallpapers/w09/children-who-chase-lost-voices-makoto-shinkai-anime.jpg', alt='Banner')
      .container
        .carousel-caption.d-none.d-md-block.text-left
          h1 AniMate
          p
            | A global network for anime lovers all round, the anime matchmaking site of your dreams.  So good it'll make your heart go doki doki.
          br
          p
            | "It's honestly the best website, I find all my super hot model girlfriends on here." - Leonardo Dicaprio.
          p
            a.btn.btn-lg.btn-primary(href='/about', role='button') Learn More
    br
    br
    .container.marketing
      .row.featurette
        .col-md-7
          h2.featurette-heading What is AniMate?
          p.lead
            | AniMate believes that compatibility is key when finding
            | a partner or friend. If you're tired of going onto endless dates only
            | to return home to your body pillow every night then we're the site
            | for you. Say good-bye to judgemental girls or shallow guys. At AniMate
            | anyone and everyone is equal. Finally connect with people who share
            | your weird niche views and hobbies!
        .col-md-5
          img.featurette-image.img-fluid.mx-auto(src='http://68.media.tumblr.com/531ab774a5bf34d887dee52bdf520fce/tumblr_inline_n6l3p3MXsU1s13368.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7.push-md-5
          h2.featurette-heading
            | How does it work?
            span.text-muted  See for yourself.
          p.lead
            | Through the use of our special matching algorithm users
            | can find fellow members with the same anime interests. You can
            | simply browse through pre-exsting members using our search function
            | but the ability to contact or having a viewable/matchable profile
            | is only available through registration.
        .col-md-5.pull-md-7
          img.featurette-image.img-fluid.mx-auto(src='http://www.nextadvisor.com/blog/wp-content/uploads/2011/05/online-dating-pickup-lines.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Interested?
            span.text-muted  Join now!
          p.lead
            | Join us.
        .col-md-5
          img.featurette-image.img-fluid.mx-auto(src='http://www.nextadvisor.com/blog/wp-content/uploads/2011/05/online-dating-pickup-lines.jpg', alt='Generic placeholder image')
      // /END THE FEATURETTES
  br

  .container.marketing
    hr
    br
    .row.featurette
        h2.featurette-heading
          | Customer Reviews
        // Three columns of text below
        .row
          .col-lg-4
            br
            br
            img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
            h2 Girl 1
            p
              | 23 year old. Female. Anime dating is great. 10/10 would recommend.
              | Didn't actually find a partner, I'm just being paid to endorse this
              | useless site
            p
              a.btn.btn-secondary(href='#', role='button') View details »
          // /.col-lg-4
          .col-lg-4
            br
            br
            img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
            h2 Guy 1
            p
              | 19 year old. Male. A+ site Blah blah it's awesome I really like anime. Dating yeaaaaaaah.
            p
              a.btn.btn-secondary(href='#', role='button') View details »
          // /.col-lg-4
          .col-lg-4
            br
            br
            img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
            h2 Girl 3
            p
              | 27 year old. Female. Anime is love. Anime is life. I'm actually
              | an old man pretending to be a woman to lure young unsuspecting boys into
              | my sex dungeon. Huehuehue.
            p
              a.btn.btn-secondary(href='#', role='button') View details »
          // /.col-lg-4
        // /.row
