extends layout
block content
  #myCarousel.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
  li.active(data-target='#myCarousel', data-slide-to='0')
  li(data-target='#myCarousel', data-slide-to='1')
  li(data-target='#myCarousel', data-slide-to='2')
  .carousel-inner
  .item.active
    img(src='http://www.eurowest.com/images/collections/desire/slide/thumb-2445-1-1100x400.jpg', alt='First slide')
    .container
      .carousel-caption
        h1 Example headline.
        p
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p
            a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today

    br

  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-lg-4
        img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Girl 1
        p
          | 23 year old. Female. Anime dating is great. 10/10 would recommend.
          | Didn't actually find a partner, I'm just being paid to endorse this
          | useless site
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-lg-4
        img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Guy 1
        p
          | 19 year old. Male. A+ site Blah blah it's awesome I really like anime. Dating yeaaaaaaah.
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-lg-4
        img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Girl 3
        p
          | 27 year old. Female. Anime is love. Anime is life. I'm actually
          | an old man pretending to be a woman to lure young unsuspecting boys into
          | my sex dungeon. Huehuehue.
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
    // /.row
