<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title> Join us </title>
</head>
<body>
<h1> Enter your details below </h1>
<form action="/newuser" method="POST">
  <input type="text" placeholder="name" name="Name"><br>
  <input type="text" placeholder="age" name="Age"><br>
  <input type="text" placeholder="DesiredUsername" name="Username"><br>
  <input type="text" placeholder="Password" name="Password"><br>
  <input type="text" placeholder="interest1" name="Interest1"><br>
  <input type="text" placeholder="interest2" name="Interest2"><br>
  <input type="text" placeholder="interest3" name="Interest3"><br>
  <input type="text" placeholder="interest4" name="Interest4"><br>
  <button type="submit">Submit</button>
</body>
</html>
