extends layout
block content
      form(action='/login', method= 'post')
        | Please enter your details
        fieldset
          legend  Personal information:
          | Email:
          br
          input(id='email', type='text', name='email', autofocus='')
          br
          | Password:
          br
          input(id='password', type='text', name='password')
          .checkbox
            label
              input(type='checkbox', value='remember-me')
              |  Remember me
          button.btn.btn-lg.btn-primary(type='submit', value="Login") Login
