.nav
  nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='/') AniMate
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/search') Search
        if(!user)
          li.nav-item
            a.nav-link(href='/profile') Profile
      ul.navbar-nav(style='float:right')
        if(!user)
          li.nav-item
              a.btn.btn-outline-success.my-2.my-sm-0(href='/login', role='button') Login
          li.nav-item(id='register-button')
            a.btn.btn-outline-primary.my-2.my-sm-0(href='/register', role='button') Register
          li.nav-item(id='logout-button')
            a.btn.btn-outline-primary.my-2.my-sm-0(href='/logout', role='button') Logout
