extends ./layout
block content
  br
  form(name='registration', onsubmit='return validation();', action='/register', method= 'post')
    | Please enter your details
    fieldset
      legend  Personal information:
      |       First name:
      br
      input(id='firstname', type='text', name='firstname', required)
      br
      |       Last name:
      br
      input(id='lastname', type='text', name='lastname', required)
      br
      // Datepicker does not work for Firefox
      | Age:
      br
      input(id='date', type='text', name='birthday', required)
      br
      | Username:
      br
      input(id='username', type='text', name='username', required)
      br
      |       Password:
      br
      input(id='password', type='text', name='password', required)
      br
      |     interest 1:
      br
      input(id='int1',type='text', name='int1', required)
      br
      |     interest 2:
      br
      input(id='int2',type='text', name='int2', required)
      br
      |      interest 3:
      br
      input(id='int3',type='text', name='int3', required)
      br
      br
      br
      input(type='submit', value='Register')
