extends layout
block content
  br
  br
  p
    |bootstrap
    |  nav bar - https://v4-alpha.getbootstrap.com/examples/navbars/
    |  album - https://v4-alpha.getbootstrap.com/examples/album/
    |  carousel - https://v4-alpha.getbootstrap.com/examples/carousel/
    |  signin - https://v4-alpha.getbootstrap.com/examples/signin/
    |tutorials
    |stackoverflow
