extends layout
block content
  br
  .container
    .jumbotron
      h1 Search:
      form.form-inline(id='search-form', action='/search', method= 'post')
        fieldset
          legend  Please enter your interests
          | Anime 1:
          br
          input(id='search1', type='text', name='search1', autofocus='')
          br
          | Anime 2:
          br
          input(id='search2', type='text', name='search2')
          br
          | Anime 3:
          br
          input(id='search3', type='text', name='search3')
          br
          br
          button.btn.btn-lg.btn-primary(type='submit', value="Search") Search

  .album.text-muted
    .container
      .row
        if(matches)
          each users in matches
            .card
              br
              h2 Username:#{users.username}
              p Name: #{users.firstname} #{users.lastname}
              p Age: #{users.age}
              br
              br
              br
