extends layout
block content
  br
  br
  p
    |INFO COMING SOON
    hello guys , i am here to tell u how the magic algoroithm works, we take it
    your details and top 3 animes interest and runs it a blossom matching algoroithm
    in our intense userbase to generate 10 memebers that have the most likely chance
    of "friendship",
    from the sound of your name , to your age and the email address given ,
    our havard proven algoroithm is predicted to match u a person of your choice
    .

    Basically we stole tinders and faces book recommand a friend function and renamed
    it our own and trade mark that shit !!!

    enjoy my little troppers and happy matching

    - glenn gordon a
    'the really back-end back end developer!'
