extends layout
block content
  br
  .container
    .jumbotron
      br
      br
      h1 You have successfully updated your information.
      img(src='https://www.shareicon.net/data/128x128/2016/08/20/817721_check_512x512.png', alt='Success')
      br
      a.btn.btn-lg.btn-primary(href='/profile', role='button') Go back
