<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title> Log in page </title>
</head>
<body>
<h1> User account Login in </h1>
<form action="/User" method="POST">
  <input type="text" placeholder="Username" name="Username">
  <input type="text" placeholder="Password" name="Password">
  <button type="submit">Submit</button>
</body>
</html>
